html{
  scroll-behavior: smooth;
}

.toggler-menu-bar{
  position: absolute;
  background-color: rgb(15, 15, 15)!important;
  top: 70px; 
  right: -100%;
  transition: all .2s ease;
}

#burger-menu:checked ~ .toggler-menu-bar{
  right: 0%;
}

.svg-image{
  animation-name: svg-rotation;
  animation-duration: 20s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes svg-rotation {
  from{transform: rotate(0deg);}
  to{transform: rotate(360deg);}
}

.small-circle-round{
  animation-name: small-circle-round-anime;
  animation-duration: 20s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.2);
  border: none;
}

@keyframes small-circle-round-anime {
  from{transform: rotate(360deg)}
  to{transform: rotate(0deg);}
}


.button-effect{
  position: relative;
  overflow: hidden;
  color: #FFFFFF;
  transition-delay: .4s;
  transition-duration: .3s;
  transition-property: all;
}

.button-effect:hover{
  box-shadow: 0 0 4px 0px rgba(255,255,255,1);
  color: #66fcf1!important;
}

.arrow-icon{
  transition-delay: .4s;
  color: #66fcf1!important;
}

.button-effect:hover.button-effect .arrow-icon{
  color: #66fcf1!important;
}

.button-effect::after{
  content: "";
  transform: skew(50deg);
  transition: all .2s ease-in-out;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255,1);
  left: -110%;
}

.button-effect:hover.button-effect::after{
  left:110%;

}

.nav-link-hover{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  cursor: pointer;
}

.nav-link-hover::after{
  content: "";
  height: 2px;
  width: 0%;
  background-color: #66fcf1;
  border-radius: 10px;
  position: absolute;
  transition: all .2s ease;
  bottom: 5px;
}

.nav-link-hover:hover.nav-link-hover::after{
  width: 50%;
}

.hero-animate-text{
  text-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.service-card-anime{
  position: relative;
  overflow: hidden;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.2);
  border: 1px solid #FFFFFF;
  transition: all .3s ease;
}
.service-card-anime:hover{
  box-shadow: 0 0 8px 4px rgba(255, 255, 255,.2);
}

.service-card-anime::after{
  content: "";
  width: 50%;
  height:50%;
  background-color: #222222;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all .2s ease;
  z-index: 98;
  border-radius: 7px;
}

.service-card-anime:hover.service-card-anime::after{
  width: 98%;
  height: 98%;
}

.service-card-anime::before{
  content: "";
  position: absolute;
  width: 0%;
  height: 0%;
  /* background-color: red; */
  box-shadow: 0 0 300px 100px #66fcf1;
  z-index: 99;
  top: 0%;
  left: 0%;
  border-radius: 50%;
}


#service-anim-text{
  transition: transform 3s ease;
}

.scale-animation {
  transform: scale(.5);
}

.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: all 2px ease;
}

.reveal.active{
  transform: translateY(0px);
  opacity: 1;
}