@import url(https://fonts.googleapis.com/css?family=Lato:600);

html{
  scroll-behavior: smooth;
}

*{
  font-family: Lato, sans-serif;
}

.toggler-menu-bar{
  transition: all .2s ease;
}

#burger-menu:checked ~ .toggler-menu-bar{
  right: 0%;
}

.svg-image{
  animation-name: svg-rotation;
  animation-duration: 20s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes svg-rotation {
  from{transform: rotate(0deg);}
  to{transform: rotate(360deg);}
}

.small-circle-round{
  animation-name: small-circle-round-anime;
  animation-duration: 20s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.2);
  border: none;
}

@keyframes small-circle-round-anime {
  from{transform: rotate(360deg)}
  to{transform: rotate(0deg);}
}


.button-effect{
  position: relative;
  overflow: hidden;
  color: #FFFFFF;
  transition-delay: .4s;
  transition-duration: .3s;
  transition-property: all;
  color: #66fcf1;
}

.button-effect:hover{
  box-shadow: 0 0 8px 1px rgba(255,255,255,.1);
}

.arrow-icon{
  transition-delay: .4s;
  color: #66fcf1!important;
}

.button-effect:hover.button-effect .arrow-icon{
  color: #66fcf1!important;
}

.button-effect::after{
  content: "";
  transform: skew(50deg);
  transition: all .2s ease-in-out;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255,1);
  left: -150%;
}

.button-effect:hover.button-effect::after{
  left:150%;
  }

.nav-link-hover{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  cursor: pointer;
}

.nav-link-hover::after{
  content: "";
  height: 2px;
  width: 0%;
  background-color: #66fcf1;
  border-radius: 10px;
  position: absolute;
  transition: all .2s ease;
  bottom: 5px;
}

.nav-link-hover:hover.nav-link-hover::after{
  width: 50%;
}

.hero-animate-text{
  text-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.service-card-anime{
  position: relative;
  overflow: hidden;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.2);
  border: 1px solid #000000;
  transition: all .3s ease;
}
.service-card-anime:hover{
  box-shadow: 0 0 8px 2px rgba(255, 255, 255,.1);
}

.service-card-anime::after{
  content: "";
  width: 50%;
  height:40%;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all .2s ease;
  z-index: 98;
  border-radius: 7px;
}

.service-card-anime:hover.service-card-anime::after{
  width: 98%;
  height: 98%;
}



#service-anim-text{
  text-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform .3s linear;
  opacity: 1;
}

.scale-animation {
  transform: scale(.1);
  /* opacity: 0.1; */
}

.button-automatic-animation{
  animation: button-self-animate;
}

@keyframes button-self-animate{
  to{}

  from{}
}



/* /////////////// */

.text-shadow-efffect{
  text-shadow: 0 4px 18px rgba(0, 0, 0, 0.5);
}

.dom-hos-background-img{
  background-image: url("./images/service/software-development-programming-coding-software.jpg");
  background-repeat: no-repeat;
}
.dom-hos-background-img span{
  filter: blur(10px);
}


.web-host-expand-text-1{
  transition: all .2s ease;
  height: 0;
  padding: 0;
}

#web-host-box-expand-1:checked~.web-host-expand-text-1{
  height: auto;
  padding: 10px 0;
}


.web-host-expand-text-2{
  transition: all .2s ease;
  height: 0;
  padding: 0;
}

#web-host-box-expand-2:checked~.web-host-expand-text-2{
  height: auto;
  padding: 10px 0;
}

.web-host-expand-text-3{
  transition: all .2s ease;
  height: 0;
  padding: 0;
}

#web-host-box-expand-3:checked~.web-host-expand-text-3{
  height: auto;
  padding: 10px 0;
}


.web-host-expand-text-4{
  transition: all .4s ease;
  height: 0;
  padding: 0;
}

#web-host-box-expand-4:checked~.web-host-expand-text-4{
  height: auto;
  padding: 10px 0;
}

.web-host-expand-text-5{
  transition: all .4s ease;
  height: 0;
  padding: 0;
}

#web-host-box-expand-5:checked~.web-host-expand-text-5{
  height: auto;
  padding: 10px 0;
}

.trans-all-ease{
  transition: all .2s ease-out;
}
